*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}
:root{
    --bg: black;
}
body{
    background-color: var(--bg);
}
#headertext{
    color:white;
    text-align: center;
    top:0.9em;
    font-size: 2em;
    text-shadow:aqua 4px 3px 5px;
    position: relative;
    justify-content: center;
    margin: auto;
    width: 60%;  
}
.calcu-container{
    padding:10px;
    background-color: #fff;
    position: relative;
    top:10em;
    padding: 8em 3em 8em 3em;
    border: 13px inset aquamarine;
    border-radius: 10px;
    margin:0 25px 0 25px;
    display: grid;
    justify-content: center;
    gap:1.5em;
}

@media only screen and (max-width: 400px) {
   .calcu-container{
       padding-left: 4.5em;
   }
   .calcu-item2 input{
    margin-top: 0.9em;
   }
   .calcu-item1 input{
    margin-top: 0.9em;
   }
   .operator input{
    margin-top: 0.8em;
   }
}